<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME TO THE HAUNTED ADVENTURE OF CHAD FEESER</title>
<body>
{% if not gameover %}
        <p><strong>{{ msg }}</strong></p>

        <p>You are in the {{ currentRoom }}.<br />
        <img src="/static/{{ currentroomdict['pic'] }}" alt="User Image" width="375"><br />

        Inventory:</p>
        <ul>
        {% for item in inv %}
                 <li>{{item}}</li>
        {% endfor %}
        </ul>
        {% if "item" in currentroomdict %}
                  <p>You see {{ currentroomdict["item"] }}<br />
        {% endif %}
        {{ currentroomdict.desc }}</p>

        <p>MAP:<br />
        <ul>
        {% for x in currentroomdict %}
        {% if x != "item" and x != "desc" and x != "pic" %}
        <li>go {{x}} enters the {{ currentroomdict[x] }}</li>
        {% endif %}
        {% endfor %}
        </ul>
        <form action = "/action" method = "POST">
            <p><input type = "text" name = "nm"></p>
            <p><input type = "submit" value = "submit"></p>
        </form>
{% endif %}
{% if gameover %}
    {{ currentroomdict.desc }}</p>
    <p><strong>{{ msg }}</strong></p>
{% endif %}
</body>
</html>
